<header>
  <img class="logo" src="https://pbs.twimg.com/profile_images/478970119037546497/CFC-_kSg.png" alt="Company Logo">
  <h1 class="motto">New Account</h1>
    <a class="logout" href="/logout">Logout</a>
</header>

<h1> <%= current_user.first_name %> </h1>

<main>
  <% if @errors %>
    <p class="error"><%= @errors[:input_error] %></p>
  <% end %>

<%= render "form" %>

</main>


